@model PedidosComida.Modelos.PedidoComida

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PedidoComida</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly="true" value="0"/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Total</label>
                <input id="DatoDecimal" name="DatoDecimal" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ClienteIdCliente" class="control-label">Cliente</label><br />
                <select asp-for="ClienteIdCliente" asp-items="@ViewBag.clientes">
                    <option selected="selected" value="">-- Elija Cliente --</option>
                </select>
                <span asp-validation-for="ClienteIdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
